title {
    background-color: #4aaaa5
}
header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    background: white;
    border-bottom: 2px solid #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.navbar {
    width: 960px;
}
body {
    background-image: url(../images/gaming-pattern.png);
    display: flex;
    justify-content: center;
}
.main {
    background: whitesmoke;
    overflow: auto;
    width: 960px;
    height: 100%;
    border: 1px solid #cccccc;
    margin-top: 130px;
    margin-bottom: 48px;
    padding-bottom: 12px;
}
h1, h2 {
    color: #4aaaa5;
    margin-left: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif
}
p {
    color: #777777;
    font-size: 20px;
    line-height: 1.6;
    margin-left: 12px;
    margin-right: 12px;
    font-family: Arial, Helvetica, sans-serif
}
div.myName {
    text-align: left;
    color: white;
    background: #4aaaa5;
    font-size: 32px;
    font-weight: bold;
    padding: 24px
}
ul {
    list-style: none;
    overflow: hidden;
    padding-left: 0px;
    margin: 0px;
}
li div {
    float: left
}
li a {
    float: right;
    margin: 32px 0px 24px 24px;
    padding-right: 16px;
    text-decoration-line: none;
    color: #777777;
    border-right: #777777 solid 2px;
}
.contactBtn {
    padding-right: 2px;
    border-right: none
}
footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:40px;
    width:100%;
    color: whitesmoke;
    font-size: 12px;
    text-align: center;
    background: rgb(100, 99, 99);
    border-top: 8px solid #4aaaa5
}
.copyright {
    margin-top: 24px;
}
img {
    float: left;
    width: 195px;
    margin: 12px;
}
hr {
    border-width: 2px;
    color: #cccccc;
    margin: 12px;

}
@media screen and (max-width: 980px) {
    .main {
        margin-left: 48px;
        width: 581px;
    }
    .navbar {
        margin-left: 56px;
        margin-right: 56px;
    }
    body {
        justify-content: left;
    }
}
@media screen and (max-width: 768px) {
    img {
       height: 351px;
       width: 351px; 
    }
    .main {
        width: 100%;
        margin-left: 12px;
        margin-right: 12px;
    }
    .navbar {
        margin-left: 20px;
        margin-right: 20px;
    }
}
    @media screen and (max-width: 640px) {
        img {
            height: auto;
            max-width: 100%;
            margin: 12px 12px 12px 0px;
        }
        .navbar {
            margin: 0px;
        }
        div.myName {
            text-align: center;
            float: none;
        }
        li a {
            float: none;
            display: inline;
            margin-left: 12px;
        }
        li {
            display: inline;
        }
        ul {
            text-align: center;
        }
        .contactBtn {
            border-right: #777777 solid 2px;
            padding-right: 16px;
        }
        .indexBtn {
            padding-right: 22px;
            border-right: none;
        }
    }
