#froggerGif {
    height: 160px;
    width: 260px;
    margin: 0px;
    background-color: black
}
#rpgGif {
    height: 160px;
    width: 260px;
    margin: 0px;
    background-color: chocolate;
}
#triviaGif {
    height: 160px;
    width: 260px;
    margin: 0px;
    background-color: darkolivegreen
}
#stanfordGif {
    height: 160px;
    width: 260px;
    margin: 0px;
    background-color: red
}
#rpsGif {
    height: 160px;
    width: 260px;
    margin: 0px;
    background-color: skyblue
}
a {
    text-decoration-line: none
}
#froggerLink, #rpgLink, #stanfordLink, #rpsLink, #triviaLink {
    background-color: #4aaaa5;
    color: white;
    font-size: 18px;
    position: relative;
    padding: 10px 0px;
    float: inherit;
    bottom: 20%;
    text-align: center;
    width: 100%;
}

.content1 {
    height: 161px;
    width: 261px;
    float: left;
    margin: 12px;
}
.content2 {
    height: 161px;
    width: 261px;
    float: left;
    margin: 12px;
}
.content3 {
    height: 161px;
    width: 261px;
    float: left;
    clear: left;
    margin: 12px;
}
.content4 {
    height: 161px;
    width: 261px;
    float: left;
    margin: 12px;
}
.content5 {
    height: 161px;
    width: 261px;
    float: left;
    clear: left;
    margin: 12px;
}

@media screen and (max-width: 768px) {
    .content1, .content2, .content3, .content4, .content5, #froggerGif, #rpgGif, #stanfordGif, #triviaGif, #rpsGif {
        width: 335px;
        max-width: 100%;
        margin-right: 12px;
        
    }
    #froggerLink, #rpgLink, #stanfordLink, #rpsLink, #triviaLink {
        padding: 10px 0px;
        float: inherit;
        bottom: 20%;
        text-align: center;
        width: 100%
    }
    /* #froggerLink {
        padding: 10px 41.7%;
    }
    #rpgLink {
        padding: 10px 37.69%;
    }  
    #stanfordLink {
        padding: 10px 27.1%;
    }
    #rpsLink {
        padding: 10px 27.9%;
    }
    #triviaLink {
        padding: 10px 36.4%;
    } */
}

@media screen and (max-width: 640px) {
    .content1, .content2, .content3, .content4, .content5, #froggerGif, #rpgGif, #stanfordGif, #triviaGif, #rpsGif {
        height: 260px;
        width: 574px;
        max-width: 100%;
        margin: 12px 0px 0px 0px;
    }
    #froggerLink, #rpgLink, #stanfordLink, #rpsLink, #triviaLink {
        padding: 10px 0px;
        float: inherit;
        bottom: 20%;
        text-align: center;
        width: 100%
    }
}
